*Assignment in Python*

In [3]:
x = 4
x

4

In [4]:
"Hello world!"

'Hello world!'

In [5]:
True

True

In [6]:
5 > 3

True

In [7]:
10 % 3

1

In [8]:
x == 4 or x < 2

True

In [9]:
None

In [10]:
type(5)

int

In [11]:
type(2.1)

float

In [12]:
type(True)

bool

In [13]:
["key chain", "wallet", "phone", 4]

['key chain', 'wallet', 'phone', 4]

In [14]:
c(10) == 10

NameError: name 'c' is not defined

In [15]:
["a", "6.6", "b", 6] [0]

'a'

In [18]:
alphabet = ["a", "b", "c", "d", "e", "f"]

In [19]:
alphabet[3:6]

['d', 'e', 'f']

In [20]:
alphabet[:2]

['a', 'b']

In [21]:
alphabet[-3:]

['d', 'e', 'f']

In [23]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

In [25]:
things = ["Apple", "Grape", 101, "Onion", False]

In [26]:
things[0]

'Apple'

In [27]:
things[4]

False

In [32]:
things[-1]

False

In [30]:
things[:-1]

['Apple', 'Grape', 101, 'Onion']

In [31]:
list(range(11, 16))

[11, 12, 13, 14, 15]

In [33]:
person = {"name" : " Mhairi", "age" : 29}

In [34]:
person["name"]

' Mhairi'

In [35]:
len(person)

2

In [36]:
len(alphabet)

6

In [37]:
student_info = {"Agnes" : 68, "Bobby" : 45, "Charlie" : list("age" : 33, "gender" : "Female")}

SyntaxError: invalid syntax (<ipython-input-37-036c2f6ec611>, line 1)

In [38]:
student_info = {"Agnes" : 68, "Bobby" : 45, "Charlie" : {"age" : 33, "gender" : "Female"}}

In [39]:
student_info["Charlie"$"age"]

SyntaxError: invalid syntax (<ipython-input-39-7e1fb8cb2ea7>, line 1)

In [40]:
student_info["Charlie":"age"]

TypeError: unhashable type: 'slice'

In [41]:
len(student_info)

3

In [42]:
student_info["Charlie"]["age"]

33

In [43]:
sum([1, 3, 4])

8

In [44]:
numbers = [19, 4, 33, 6]

In [45]:
numbers.sort()

In [46]:
numbers

[4, 6, 19, 33]

In [49]:
numbers.pop()

33

In [50]:
numbers.append()

TypeError: append() takes exactly one argument (0 given)

In [51]:
numbers.append(33)

In [52]:
numbers

[19, 4, 33]

In [53]:
numbers.append([1 , 2, 3])

In [54]:
numbers

[19, 4, 33, [1, 2, 3]]

In [55]:
numbers.extend([1, 2, 3])

In [56]:
numbers

[19, 4, 33, [1, 2, 3], 1, 2, 3]

In [57]:
person

{'name': ' Mhairi', 'age': 29}

In [58]:
person.update({"dog" : "buddy"})

In [59]:
person

{'name': ' Mhairi', 'age': 29, 'dog': 'buddy'}

In [60]:
person.update({'age' : 30})

In [61]:
person

{'name': ' Mhairi', 'age': 30, 'dog': 'buddy'}

In [62]:
person.pop("age")

30

In [63]:
person

{'name': ' Mhairi', 'dog': 'buddy'}

In [67]:
primes = [1, 2, 3, 5, 7]

In [71]:
primes

[1, 2, 3, 5, 7]

In [75]:
primes.remove(1)

In [76]:
primes

[2, 3, 5, 7]

In [79]:
primes.reverse

In [80]:
primes.reverse()

In [81]:
primes

[7, 5, 3, 2]

In [82]:
import math

In [83]:
math.sqrt(25)

5.0

In [87]:
temperature = 16

if temperature > 20:
    print("Heatwave!")
elif temperature > 15:
    print("pretty good")
else:
    print("the usual")

pretty good

In [91]:
fizzbuzz = list(range(1, 101))

    *Task*

In [105]:
for i in fizzbuzz:
    if i % 15 == 0:
        print("Fizzbuzz")
    elif i % 5 == 0:
        print("fizz")
    elif i % 3 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Buzz
4
fizz
Buzz
7
8
Buzz
fizz
11
Buzz
13
14
Fizzbuzz
16
17
Buzz
19
fizz
Buzz
22
23
Buzz
fizz
26
Buzz
28
29
Fizzbuzz
31
32
Buzz
34
fizz
Buzz
37
38
Buzz
fizz
41
Buzz
43
44
Fizzbuzz
46
47
Buzz
49
fizz
Buzz
52
53
Buzz
fizz
56
Buzz
58
59
Fizzbuzz
61
62
Buzz
64
fizz
Buzz
67
68
Buzz
fizz
71
Buzz
73
74
Fizzbuzz
76
77
Buzz
79
fizz
Buzz
82
83
Buzz
fizz
86
Buzz
88
89
Fizzbuzz
91
92
Buzz
94
fizz
Buzz
97
98
Buzz
fizz

In [107]:
[i*i for i in fizzbuzz]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [110]:
numbers = list(range(1, 11))

In [111]:
[number*number for number in numbers if number % 2 == 0]

[4, 16, 36, 64, 100]

code above states for every element in the numbers list, square the element if the number is divisible by 2

In [113]:
[n for n in range(1, 101) if n % 12 == 0]

[12, 24, 36, 48, 60, 72, 84, 96]

In [114]:
words = ["apple", "orange", "dragon fruit"]

In [115]:
{fruit:len(fruit) for fruit in words}

{'apple': 5, 'orange': 6, 'dragon fruit': 12}

In [120]:
primes = [i for i in range(2, 100) if i % 2 != 0 and i % 3 != 0 and i % 5 != 0 and i % 7 !=0 and i % 11 != 0]

primes

[13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [ ]:
ordinal_dict = {number:str(number) + 'th' for number in range(4, 11)}

In [ ]:
ordinal_dict

In [ ]:
def calculate_mean(x, y):
    s = x + y
    return s/2

In [125]:
calculate_mean(2,8)

5.0

Task

In [130]:
def get_triangle_n(n):
    return n * (n + 1)/2

In [131]:
get_triangle_n(9)

45.0

In [132]:
with open("surnames.txt", "r") as file:
    names = file.read()

In [133]:
names

'Anderson\nJamieson\nRobertson\nSmith\nWilliamson\nIrvine\nTait\nJohnson\nLeask\nHalcrow\nHenderson\nLaurenceso\nManson\nMowat\nNicolson\nPeterson\nSinclair\nThomason\nGaldie\nFraser\nHughson\nHunter\nSutherland\nTulloch'

In [134]:
type(names)

str

In [135]:
with open ("surnames.txt", "r") as file:
    names = file.readlines()

In [136]:
names

['Anderson\n',
 'Jamieson\n',
 'Robertson\n',
 'Smith\n',
 'Williamson\n',
 'Irvine\n',
 'Tait\n',
 'Johnson\n',
 'Leask\n',
 'Halcrow\n',
 'Henderson\n',
 'Laurenceso\n',
 'Manson\n',
 'Mowat\n',
 'Nicolson\n',
 'Peterson\n',
 'Sinclair\n',
 'Thomason\n',
 'Galdie\n',
 'Fraser\n',
 'Hughson\n',
 'Hunter\n',
 'Sutherland\n',
 'Tulloch']

In [137]:
a_string = "just a string"

with open("just text.txt", "w") as file:
    file.write(a_string)